.heading{
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 20px;
    padding-left: 5px;
}
.tod_div{
    position: absolute;
    top: 80px;
    right: 30px;
    width: 19rem;
    text-align: end;
    margin-right: 30px;
}